In [34]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import os
from six.moves import urllib
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import mysql.connector as connection

In [35]:
download_dir = "./data/"

os.makedirs(download_dir, exist_ok=True)

download_url ="https://raw.githubusercontent.com/mohitmahiyt/CarPricePredictionDataset/main/cars_dataset.csv"

filename = os.path.basename(download_url)
print(filename)

download_file_path = os.path.join(download_dir,filename)
\
print(download_file_path)

urllib.request.urlretrieve(download_url, download_file_path)

cars_dataset.csv
./data/cars_dataset.csv

('./data/cars_dataset.csv', <http.client.HTTPMessage at 0x2555beaadc0>)

In [36]:
df=pd.read_csv("D:\carpricepridiction\data\cars_dataset.csv")
df

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,1,Maruti Alto,Maruti,Alto,9,53800,Dealer,CNG,Manual,26.83,796,38.4,5,235000
1,2,Maruti Alto,Maruti,Alto,11,11000,Dealer,CNG,Manual,26.83,796,38.4,5,185000
2,3,Maruti Alto,Maruti,Alto,11,80000,Dealer,CNG,Manual,26.83,796,38.4,5,150000
3,4,Maruti Alto,Maruti,Alto,10,57000,Dealer,CNG,Manual,26.83,796,38.4,5,172000
4,5,Maruti Alto,Maruti,Alto,11,72000,Individual,CNG,Manual,26.83,796,38.4,5,125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,30016,Bentley Continental,Bentley,Continental,10,30000,Dealer,Petrol,Automatic,8.60,5998,552.0,4,8100000
15407,30017,Rolls-Royce Ghost,Rolls-Royce,Ghost,4,5000,Individual,Petrol,Automatic,10.20,6592,563.0,4,24200000
15408,30018,Bentley Continental,Bentley,Continental,9,37500,Dealer,Petrol,Automatic,6.00,5998,600.0,5,5200000
15409,30019,Ferrari GTC4Lusso,Ferrari,GTC4Lusso,2,3800,Dealer,Petrol,Automatic,4.00,3855,601.0,4,39500000
15410,30020,Bentley Continental,Bentley,Continental,9,9000,Dealer,Petrol,Automatic,9.50,5998,626.0,4,14500000

In [37]:
df['unnamed:0']=range(1,len(df)+1)
df.rename(columns={'unnmaed:0','car_id'},inplace=true)
df

NameError: name 'true' is not defined

In [ ]:
try:
    conn = connection.connect(user='root', password='2536')
    query="create database if not exists car_database;"
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()
except Exception as e:
    print(e)
else:
    print('connected')
    print("database created successfully")
finally:
    conn.close()
try:
    conn = connection.connect(user='root', password='2536', database="car_database")
    query="""create table if not exists car_dataset(
car_name varchar(30),
brand varchar(30),
model varchar(30),
vehicle_age int,
km_driven int,
seller_type varchar(30),
fuel_type varchar(30),
transmission_type varchar(30),
mileage float,
engine int,
max_power float,
seats int,
selling_price bigint);"""

    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()
except Exception as e:
  print(e)
else:
    print('connected')
    print("table created successfully")
finally:
   conn.close()

connected
database created successfully
connected
table created successfully

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price,unnamed:0
0,Maruti Alto,Maruti,Alto,9,53800,Dealer,CNG,Manual,26.83,796,38.4,5,235000,1
1,Maruti Alto,Maruti,Alto,11,11000,Dealer,CNG,Manual,26.83,796,38.4,5,185000,2
2,Maruti Alto,Maruti,Alto,11,80000,Dealer,CNG,Manual,26.83,796,38.4,5,150000,3
3,Maruti Alto,Maruti,Alto,10,57000,Dealer,CNG,Manual,26.83,796,38.4,5,172000,4
4,Maruti Alto,Maruti,Alto,11,72000,Individual,CNG,Manual,26.83,796,38.4,5,125000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,Bentley Continental,Bentley,Continental,10,30000,Dealer,Petrol,Automatic,8.60,5998,552.0,4,8100000,15407
15407,Rolls-Royce Ghost,Rolls-Royce,Ghost,4,5000,Individual,Petrol,Automatic,10.20,6592,563.0,4,24200000,15408
15408,Bentley Continental,Bentley,Continental,9,37500,Dealer,Petrol,Automatic,6.00,5998,600.0,5,5200000,15409
15409,Ferrari GTC4Lusso,Ferrari,GTC4Lusso,2,3800,Dealer,Petrol,Automatic,4.00,3855,601.0,4,39500000,15410
15410,Bentley Continental,Bentley,Continental,9,9000,Dealer,Petrol,Automatic,9.50,5998,626.0,4,14500000,15411

In [ ]:
try:
    conn = connection.connect(user='root', password='2536', database="car_database")
    query="""truncate car_dataset;"""
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()

    query = f"""truncate car_dataset;"""
    cursor = conn.cursor()
    cursor.execute(query)        
    conn.commit()
    for key, value in df.iterrows():
        car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price = value[0],value[1], value[2], value[3], value[4],value[5] ,value[6],value[7] ,value[8] ,value[9] ,value[10] ,value[11] ,value[12] 
        
        query = f"""insert into car_dataset values ('{car_name}','{brand}', '{model}',{vehicle_age},{km_driven},'{seller_type}','{fuel_type}','{transmission_type}',{mileage},{engine},{max_power},{seats},{selling_price});"""
        cursor = conn.cursor()
        cursor.execute(query)
    conn.commit()

except Exception as e:
    print(e)
else:
    print('connected')
    print("table created successfully")
finally:
    conn.close()

connected
table created successfully

In [ ]:
df.describe(include='object')

           car_name   brand  model seller_type fuel_type transmission_type
count         15411   15411  15411       15411     15411             15411
unique          121      32    120           3         5                 2
top     Hyundai i20  Maruti    i20      Dealer    Petrol            Manual
freq            906    4992    906        9539      7643             12225

In [38]:

numerical_features= [feature for feature in df.columns if df[feature].dtype !='0'   ]
categorial_features= [feature for feature in df.columns if df[feature].dtype !='0'   ]
print(f"there are {len(numerical_features)} numerical features named:{numerical_features}")
print(f"there are {len(categorial_features)} categorial features named:{categorial_features}")

there are 15 numerical features named:['Unnamed: 0', 'car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power', 'seats', 'selling_price', 'unnamed:0']
there are 15 categorial features named:['Unnamed: 0', 'car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power', 'seats', 'selling_price', 'unnamed:0']

In [39]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price,unnamed:0
0,1,Maruti Alto,Maruti,Alto,9,53800,Dealer,CNG,Manual,26.83,796,38.4,5,235000,1
1,2,Maruti Alto,Maruti,Alto,11,11000,Dealer,CNG,Manual,26.83,796,38.4,5,185000,2
2,3,Maruti Alto,Maruti,Alto,11,80000,Dealer,CNG,Manual,26.83,796,38.4,5,150000,3
3,4,Maruti Alto,Maruti,Alto,10,57000,Dealer,CNG,Manual,26.83,796,38.4,5,172000,4
4,5,Maruti Alto,Maruti,Alto,11,72000,Individual,CNG,Manual,26.83,796,38.4,5,125000,5

In [40]:
df.tail()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price,unnamed:0
15406,30016,Bentley Continental,Bentley,Continental,10,30000,Dealer,Petrol,Automatic,8.6,5998,552.0,4,8100000,15407
15407,30017,Rolls-Royce Ghost,Rolls-Royce,Ghost,4,5000,Individual,Petrol,Automatic,10.2,6592,563.0,4,24200000,15408
15408,30018,Bentley Continental,Bentley,Continental,9,37500,Dealer,Petrol,Automatic,6.0,5998,600.0,5,5200000,15409
15409,30019,Ferrari GTC4Lusso,Ferrari,GTC4Lusso,2,3800,Dealer,Petrol,Automatic,4.0,3855,601.0,4,39500000,15410
15410,30020,Bentley Continental,Bentley,Continental,9,9000,Dealer,Petrol,Automatic,9.5,5998,626.0,4,14500000,15411

In [42]:
df.shape

(15411, 15)

In [43]:
pd.Categorical(df['car_name'])

['Maruti Alto', 'Maruti Alto', 'Maruti Alto', 'Maruti Alto', 'Maruti Alto', ..., 'Bentley Continental', 'Rolls-Royce Ghost', 'Bentley Continental', 'Ferrari GTC4Lusso', 'Bentley Continental']
Length: 15411
Categories (121, object): ['Audi A4', 'Audi A6', 'Audi A8', 'Audi Q7', ..., 'Volvo S90', 'Volvo XC', 'Volvo XC60', 'Volvo XC90']